<div class="products-detail">
    <div class="products-image">
        <img src="{{contents.image}}" alt="">
        <img src="{{contents.imageHover}}" alt="">
      <div>
        <img src="{{contents.imageRight}}" alt="">
        <img src="{{contents.imageLeft}}" alt="">


      </div>
        
    </div>
    <div class="products-info">
        <h1>{{contents.name}}</h1>
        <h5>{{contents.price}}</h5>
        <div class="size">
            <div class="size-title">
                Choose your size
            </div>
            <ul>
                <li>36</li>
                <li>37</li>
                <li>38</li>
                <li>39</li>
                <li>40</li>
                <li>41</li>
                <li>42</li>
                <li>43</li>
                <li>44</li>
                <li>45</li>
            </ul>
            
        </div>
        <div>
         <a href="" style="text-decoration: none;">Don't have your size?</a>
        </div>
       
        <button class="buy-btn" style="margin-top: 10px;" >BUY NOW</button>
        <button class="love-btn"><i class="fa-regular fa-heart heart-block"></i></button>
        <ul style="margin-top: 20px; list-style:none">
            <li><i class="fa-solid fa-truck-fast" style="margin-right: 10px;"></i>Free ship with the bill over 50$</li>
            <li><i class="fa-solid fa-clock-rotate-left"  style="margin-right: 10px;"></i>Exchange within 7 days</li>
        </ul>
        
    </div>

</div>

